<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
  <property name="LOG_PATH" value="logs"/>
  <property name="archived" value="archived"/>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{dd-MM-yyyy HH:mm:ss} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n
      </pattern>
    </encoder>
  </appender>
  
  <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/info.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
      </Pattern>
    </encoder>
     <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
<!--       rollover daily -->
      <fileNamePattern>
      ${LOG_PATH}/${archived}/info.%d{dd-MM-yyyy}.%i.log
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
      <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>

    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/info-error.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
      </Pattern>
    </encoder>
     <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
<!--       rollover daily -->
      <fileNamePattern>
      ${LOG_PATH}/${archived}/info-error.%d{dd-MM-yyyy}.%i.log
      </fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
      <maxFileSize>10MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  
    
   <logger name="com.fall" additivity="false" level="info">
     <appender-ref ref="STDOUT"/>
     <appender-ref ref="FILE-AUDIT" />
   </logger>
   
   <logger name="com.fall" additivity="false" level="debug">
     <appender-ref ref="STDOUT"/>
     <appender-ref ref="FILE-AUDIT" />
   </logger>
   
     <logger name="com.vams" additivity="false" level="debug">
     <appender-ref ref="STDOUT"/>
     <appender-ref ref="FILE-AUDIT" />
   </logger>
  
    <!--<root level="error">-->
  <root name="com.vams" additivity="false" level="error">
  	<appender-ref ref="FILE-ERROR"/>
  </root>

  <logger name="org.springframework.web" additivity="false" level="info">
    <appender-ref ref="STDOUT"/>
  </logger>
  
  <logger name="org.springframework" additivity="false" level="error">
    <appender-ref ref="FILE-ERROR"/>
  </logger>
  
    <logger name="org.postgresql" additivity="false" level="error">
    <appender-ref ref="FILE-ERROR"/>
  </logger>
  
  <logger name="org.hibernate" additivity="false" level="error">
    <appender-ref ref="FILE-ERROR"/>
  </logger>

</configuration>